nav{
    text-align: center;
    background-color:#007ACC;
    padding: 10px 0px;

}
.nav-item{
    margin: 10px;
    color: #fff;
    padding:4px 20px;
}
.nav-item:hover{
    background-color: #90C3FF;
    color: #000;

}